<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pertidaksamaan Bagi Dua</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
</head>
<body>
    <h1>Masukkan Interval</h1>
    <br>
    <div class="form">
        <form method="POST">
            <label>Fungsi (gunakan x, contoh: x**2 + x**3 - 4*x + 2):</label><br>
            <input type="text" name="fungsi", value="{{fungsi | default("")}}"><br><br>

            <label>Batas bawah (a):</label><br>
            <input type="number" step="any" name="a", value="{{a | default("")}}"><br><br>

            <label>Batas atas (b):</label><br>
            <input type="number" step="any" name="b", value="{{b | default("")}}"><br><br>

            <label>Pertidaksamaan:</label><br>
            <select name="operator">
                <option value="=" {% if operator == "=" %}selected{% endif %}>=</option>
                <option value="<=" {% if operator == "=" %}selected{% endif %}> &le; </option>
                <option value=">=" {% if operator == "=" %}selected{% endif %}> &ge; </option>
            </select>
            <br>
            <br>
            <br>
            <button type="submit">Hitung</button>
        </form>
    </div>
    <br>
    <div class="hasil">
        {% if hasil is not none%}
        <h1> Hasil : {{hasil}} </h1>
        {% endif %}
    </div>
</body>
</html>