<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pertidaksamaan Bagi Dua</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
   
    </style>
</head>
<body class="min-h-screen flex items-center justify-center bg-gray-500">
    <div class="bg-">
            <h1>Masukkan Interval</h1>
        <br>
        <div class="form">
            <form method="POST">K
                <label>Fungsi (gunakan x, contoh: x**2 + x**3 - 4*x + 2):</label><br>
                <input type="text" name="fungsi", value="{{fungsi | default("")}}"><br><br>

                <label>Batas bawah (a):</label><br>
                <input type="number" step="any" name="a", value="{{a | default("")}}"><br><br>

                <label>Batas atas (b):</label><br>
                <input type="number" step="any" name="b", value="{{b | default("")}}"><br><br>

                <label>Pertidaksamaan:</label><br>
                <!-- Tambahkan hidden input untuk menyimpan pilihan operator -->
                <input type="hidden" name="operator" id="operator-input" value="{{ operator | default('=') }}">

                <div class="flex gap-2 mt-2">
                <button class ="bg-blue-600 hover:bg-blue-800 focus:outline-2 focus:outline-offset-2 focus:outline-blue-500 active:bg-blue-700 px-4 py-2 rounded-lg" type="button" onclick="selectOperator('=')" class="operator-btn px-4 py-2 rounded border {% if operator == '=' %}bg-blue-500 text-white{% else %}bg-gray-200{% endif %}">=</button>
                <button class ="bg-blue-600 hover:bg-blue-800 focus:outline-2 focus:outline-offset-2 focus:outline-blue-500 active:bg-blue-700 px-4 py-2 rounded-lg" type="button" onclick="selectOperator('<')" class="operator-btn px-4 py-2 rounded border {% if operator == '<=' %}bg-blue-500 text-white{% else %}bg-gray-200{% endif %}">&le;</button>
                <button class ="bg-blue-600 hover:bg-blue-800 focus:outline-2 focus:outline-offset-2 focus:outline-blue-500 active:bg-blue-700 px-4 py-2 rounded-lg"type="button" onclick="selectOperator('>=')" class="operator-btn px-4 py-2 rounded border {% if operator == '>=' %}bg-blue-500 text-white{% else %}bg-gray-200{% endif %}">&ge;</button>
                </div>
                <br>
                <br>
                <br>
                <button class ="bg-blue-600 hover:bg-blue-800 focus:outline-2 focus:outline-offset-2 focus:outline-blue-500 active:bg-blue-700 px-4 py-2 rounded-lg" type="submit">Hitung</button>
            </form>
        </div>
        <br>
        <div class="hasil">
            {% if hasil is not none%}
            <h1> Hasil : {{hasil}} </h1>
            {% endif %}
        </div>
    </div>
</body>
</html>